@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --background: #fff;
  --text--color: #000;
  --price-text--color: #f94c43;
  --brand--color: #fce106;
  --background-sale: #d40000;
  --sale-text--color: #ffffff;
  --border-color: rgba(0, 0, 0, 0.1);
  --gradient-color-from: #c91410;
  --gradient-color-to: #ff5e15;
  --section-background-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  behavior: scroll;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* button */
.btn-container {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.btn-container__btn {
  max-width: 139px;
  width: 139px;
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  border: 1px solid var(--brand--color);
  font-size: 1.4rem;
  font-weight: 750;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 0.135, 0.15, 0.86);
  transition: all 0.6s cubic-bezier(0.19, 0.135, 0.15, 0.86);
}

.btn-container__btn:focus {
  outline: none;
}

.btn-container:not(:hover) {
  left: 0;
}

.btn-container:hover .btn-container__background {
  width: 0;
  right: 0;
}

.btn-container:hover .btn-container__btn {
  color: black;
}

.btn-container__background {
  position: absolute;
  top: 0;
  width: 139px;
  height: 43px;
  background-color: #ffdd00;
  z-index: -1;
  -webkit-transition: all 0.45s cubic-bezier(0.19, 0.135, 0.15, 0.86);
  transition: all 0.45s cubic-bezier(0.19, 0.135, 0.15, 0.86);
}

.section-area {
  padding: 20px 0;
  width: 100%;
  position: relative;
  word-wrap: break-word;
  background-color: var(--section-background-color);
  margin: 5rem 0;
}

.section__top {
  text-align: center;
}

.section__top span {
  color: var(--gradient-color-to);
  font-size: 2rem;
  font-weight: 700;
  position: relative;
}

.section__top span::before {
  position: absolute;
  top: 50%;
  right: calc(100% + 29.5px);
  content: '';
  width: 40.5px;
  height: 1.7px;
  background-color: var(--gradient-color-to);
}

.section__top span::after {
  position: absolute;
  top: 50%;
  left: calc(100% + 29.5px);
  content: '';
  width: 40.5px;
  height: 1.7px;
  background-color: var(--gradient-color-to);
}

.section__top-header {
  font-size: 5rem;
  margin-top: 10px;
  font-weight: 900;
  line-height: 6rem;
  text-transform: capitalize;
}

.section__top-note {
  font-size: 1.7rem;
  font-weight: 900;
  opacity: 0.6;
  margin-top: 10px;
}

.section-area__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 74px;
}

.section-area__btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 238px;
  height: 64px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #1d44ee;
  color: white;
  cursor: pointer;
  border-radius: 15px;
}

.section-area__btn button:focus {
  outline: none;
}

.section-area__btn-icon {
  height: 18px;
}
/*# sourceMappingURL=base.css.map */