* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  margin: 0 !important;
}
.login {
  margin-top: 100px;
}
.login__google,
.login__face {
  width: 100%;
  padding: 3%;
  margin: 5% 0;
  border: none;
}
.login__google img,
.login__face img {
  margin-right: 5%;
}
.form-control:focus {
  border-color: #1c2746 !important;
  box-shadow: 0 0 0 0.2rem #1c2746 !important;
}
.forgot-password {
  color: #bebec0;
  text-decoration: underline;
}
.submit-form {
  background-color: #1c2746;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 40%;
  height: 2.5rem;
}
.not--account {
  padding: 5%;
  text-align: center;
  color: #bebec0;
}
.signup__link {
  text-align: center;
  display: block;
  font-weight: bold;
  color: #1c2746;
}
.login__introduce {
  display: none;
}

@media screen and (min-width: 768px) {
  .login__introduce {
    display: block;
  }
  .login__form {
    border: 1px solid #bebec0;
    padding: 5% 8% !important;
    border-right: none;
  }
  .login__introduce {
    background-color: #1c2746;
    color: #fff;
    padding: 5% 8% !important;
  }
  .logo__introduce {
    text-align: center;
    margin-bottom: 20%;
  }
}
